.vscode
.idea
/iCitizenFlaskApp/__pycache__
/iCitizenFlaskApp/views/__pycache__
/iCitizenFlaskApp/models/__pycache__
/iCitizenFlaskApp/static/__pycache__
venv
/iCitizenFlaskApp/venv
/iCitizenFlaskApp/log
log


/home/super/repos/iCitizenFlask/startup.sh
/home/super/repos/iCitizenFlask/stop.sh
startup.sh
stop.sh
~/repos/iCitizenFlask/startup.sh
~/repos/iCitizenFlask/stop.sh
