{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class='flashes list-group' style="margin-top: 1em; margin-bottom: 1em;">
    {% for category, message in messages %}
      <li class="list-group-item list-group-item-{{category}}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}

{% endwith %}

{% if error %}
  <div class="alert alert-danger">{{error}}</div>
{% endif %}

{% if msg %}
  <div class="alert alert-success">{{msg}}</div>
{% endif %}