{% extends 'index.html' %}

{% block body %}

<div class="container">
    <div class="row">
        <div id="bill_1" class="col">

        </div>
    </div>
    <div class="row">
        <div id="bill_2" class="col">

        </div>
    </div>
    <div class="row">
        <div id="bill_3" class="col">

        </div>
    </div>
    <div class="row">
        <div id="bill_4" class="col">

        </div>
    </div>
    <div class="row">
        <div id="bill_5" class="col">

        </div>
    </div>
    <div class="row">
        <div id="bill_6" class="col">

        </div>
    </div>
    <div class="row">
        <div id="bill_7" class="col">

        </div>
    </div>
    <div class="row">
        <div id="bill_8" class="col">

        </div>
    </div>
    <div class="row">
        <div id="bill_9" class="col">

        </div>
    </div>
    <div class="row">
        <div id="bill_10" class="col">

        </div>
    </div>
    <div class="row">
        <div id="bill_11" class="col">

        </div>
    </div>
    <div class="row">
        <div id="bill_12" class="col">

        </div>
    </div>
    <div class="row">
        <div id="bill_13" class="col">

        </div>
    </div>
    <div class="row">
        <div id="bill_14" class="col">

        </div>
    </div>
    <div class="row">
        <div id="bill_15" class="col">

        </div>
    </div>
    <div class="row">
        <div id="bill_16" class="col">

        </div>
    </div>
    <div class="row">
        <div id="bill_17" class="col">

        </div>
    </div>
    <div class="row">
        <div id="bill_18" class="col">

        </div>
    </div>
    <div class="row">
        <div id="bill_19" class="col">

        </div>
    </div>
    <div class="row">
        <div id="bill_20" class="col">

        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='dist/js/bill_data_loader.js') }}"></script>
{% endblock %}