{% extends 'index.html' %}

{% block body %}

  <div class="container">
    <div class="alert alert-info">
      <h3>You're back!</h3>
      <h3><small>Welcome back, {{session.username}}.</small></h3>
    </div>
    <div id="dash_loader" style="height: 45rem; display: flex; align-items: center; justify-content: center">
        <div class="loader" style="border: 1em solid black; border-top: 1em solid teal;
            border-radius: 50%; width: 10em; height: 10em; animation: spin 1s linear infinite">
            <style type="text/css">
                @keyframes spin {
                    0% { transform: rotate(0deg); }
                    100% { transform: rotate(360deg); }
                }
            </style>
        </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div id="poll_header" class="page-header jumbotron text-center" style="margin-bottom: 1em">
          <h3 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 30px; color:darkblue">Upcoming Polls</h3>
        </div>

        <div class="poll_1">

        </div>
        <div class="poll_2">

        </div>
        <div class="poll_3">

        </div>
        <div class="poll_4">

        </div>
        <div id="bill_header" class="page-header jumbotron text-center" style="margin-bottom: 1em;">
          <h3 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 30px; color:darkblue">Relevant National and State Bills</h3>
        </div>
        <div id="bill_1"></div>
        <div id="bill_2"></div>
        <div id="bill_3"></div>
        <div id="bill_4"></div>
        <div id="bill_5"></div>
        <div id="bill_6"></div>
        <div id="bill_7"></div>
        <div id="bill_8"></div>
    </div>

    <div class="col-md-6">
      <div id="leg_header" class="page-header jumbotron text-center" style="margin-bottom: 1em;">
        <h3 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 30px; color:darkblue">Your National Legislators</h3>
      </div>
        <div id="legislator_national_1">
        </div>
        <div id="legislator_national_2">
        </div>
        <div id="legislator_national_3">
        </div>
        <div id="legislator_national_4">
        </div>
        <div id="legislator_national_5">
        </div>

        <div id="event_header" class="page-header jumbotron text-center" style="margin-bottom: 1em;">
            <h3 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 30px; color:darkblue">Relevant Events</h3>
        </div>

        <div id="event_1"></div>
        <div id="event_2"></div>
        <div id="event_3"></div>
        <div id="event_4"></div>
        <div id="event_5"></div>

      </div>
    </div>

  </div>

{% endblock %}

{% block javascript %}

  <script src="{{ url_for('static', filename='dist/js/poll_data_loader.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='dist/js/legislator_data_loader.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='dist/js/bill_data_loader.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='dist/js/event_data_loader.js') }}" type="text/javascript"></script>

{% endblock %}
