{% extends 'index.html' %}

{% block body %}

  <div class="container">
    <div class="alert alert-info">
      <h3>You're back!</h3>
      <h3><small>Welcome back, {{session.username}}.</small></h3>
    </div>

    <div class="row">
      <div class="col-md-6">
      <div class="page-header" style="margin-bottom: 1em;">
        <h3>Upcoming Polls</h3>
      </div>

      <div class="poll_1">
      
      </div>
      <div class="poll_2">
        
      </div>
      <div class="poll_3">
        
      </div>
      <div class="poll_4">
        
      </div>
    </div>

    <div class="col-md-6">
      <div class="page-header" style="margin-bottom: 1em;">
        <h3>Your National Legislators</h3>
      </div>
        <div id="legislator_national_1">

        </div>
        <div id="legislator_national_2">
            
        </div>
        <div id="legislator_national_3">
            
        </div>
        <div id="legislator_national_4">
            
        </div>
        <div id="legislator_national_5">
            
        </div>
        <div id="legislator_national_6">
            
        </div>
        <div id="legislator_national_7">
        
        </div>
        <div id="legislator_national_8">

        </div>
        <div id="legislator_national_9">

        </div>
        <div id="legislator_national_10">

        </div>
      </div>

    </div>

  </div>

{% endblock %}

{% block javascript %}

  <script src="{{ url_for('static', filename='dist/js/poll_data_loader.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='dist/js/legislator_data_loader.js') }}" type="text/javascript"></script>

{% if db_client['update_db'] == True %}

  <script src="{{ url_for('static', filename='dist/js/data_loader.js') }}"></script>

{% else %}

  <script>
    $("#bill_test").html("All data exists in DB")
  </script>

{% endif %}

{% endblock %}
