{% extends 'index.html' %}

{% block body %}

  <div class="container">
    <div id="test">

    </div>
    <div class="alert alert-info">
      <h3>You're back!</h3>
      <h3><small>Welcome back, {{session.username}}.</small></h3>
    </div>
  </div>

{% endblock %}

{% block javascript %}

{% if db_client['update_db'] %}

  <script>
    $.ajax({
      url: "/update_db/",
      type: "post",
      success: function(response){
        $('#test').html(response)
      }
    })
  </script>

{% else %}

  <script>
    $("#test").html("Test Succeeded For Real")
  </script>

{% endif %}

{% endblock %}