{% extends 'index.html' %}

{% block body %}

<h1 style="text-align:center;">Relevant Events</h1>
<hr style="border-top: 1px solid #8c8b8b;">

<form class="form-group" method="POST" id="save_events_form">

  <div class="container">
    <div id="event_1"></div>
    <div id="event_2"></div>
    <div id="event_3"></div>
    <div id="event_4"></div>
    <div id="event_5"></div>
    <div id="event_6"></div>
    <div id="event_7"></div>
    <div id="event_8"></div>
    <div id="event_9"></div>
    <div id="event_10"></div>
    <div id="event_11"></div>
    <div id="event_12"></div>
    <div id="event_13"></div>
    <div id="event_14"></div>
    <div id="event_15"></div>
  </div>
</form>

{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='dist/js/event_data_loader.js') }}"></script>
{% endblock %}
