<!DOCTYPE html>
<html>
<head>
	<title>iCitizen</title>

	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="/static/dist/css/event.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>

	<style type="text/css">
    .navbar {
      margin-bottom: 1em;
    }

  </style>
</head>

<body>
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">iCitizen</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mr-auto">
        {% if session.logged_in %}
          <a class="nav-item nav-link active" href="/dashboard">Dashboard</a>
          <a class="nav-item nav-link" href="/events">Events</a>
          <a class="nav-item nav-link" href="/polls">Polls and Elections</a>
          <a class="nav-item nav-link" href="/legislators">Legislators</a>
          <a class="nav-item nav-link" href="/bills">Bills</a>
        {% endif %}
      </div>
      <div class="nav navbar-nav">
        {% if session.logged_in %}
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{session.username}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/profile">Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Saved Polls</a>
              <a class="dropdown-item" href="#">Saved Events</a>
              <a class="dropdown-item" href="#">Saved Bills</a>
              <a class="dropdown-item" href="#">Saved Legislators</a>
            </div>
          </div>
          <a class="nav-item nav-link" href="/logout">Logout</a>
        {% else %}
          <a class="nav-item nav-link" href="/register">Register</a>
          <a class="nav-item nav-link" href="/login">Login</a>
        {% endif %}
      </div>
    </div>
  </nav>
  {% include 'includes/_messages.html' %}
  {% block body %}
  {% endblock %}

  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

  {% block javascript %}
  {% endblock %}

</body>
</html>
