{% extends 'index.html' %}

{% block body %}

  {% from 'includes/_formhelpers.html' import render_field %}

  <div class="container">
    <h1>Login</h1>
    <form class="form-group" method="POST">
      <div>
        {{ render_field(form.username, class_='form-control')}}
      </div>
      <br>
      <div>
        {{ render_field(form.password, class_='form-control')}}
      </div>
      <br>
      <input type="submit" class="btn btn-primary" value="Login">
    </form>
  </div>


{% endblock %}