{% extends 'index.html' %}

{% block body %}

  <div class="container">
    <h1>Login</h1>
    <form class="form-group" name="form">
      <label>Username</label>
      <input class="form-control" type="text" name="username" placeholder="j.doe">
      <br>
      <label>Password</label>
      <input class="form-control" type="password" name="password" placeholder="verysecretpassword">
      <br>
      <input type="submit" class="btn btn-primary btn-lg" value="Register" method="post">
    </form>

  </div>

{% endblock %}